{%  extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'home' %}">Dashboard</a>
		</div>
	</div>
	<div class ="col-md-6">
		<table class="table table-sm">
			<tr>
				<th>Pracownik</th>
				<th>Dzień</th>
				<th>Początek pracy</th>
			</tr>

			{% for x in start %}
				<tr>
					<td>{{employee}}</td>
					<td>{{x.day_of_shift}}</td>
					<td>{{x.start_of_shift}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class ="col-md-6">
		<table class="table table-sm">
			<tr>
				<th>Koniec pracy</th>
				<th>Budynek</th>
			</tr>
			{% for x in end %}
			<tr>
				<td>{{x.end_of_shift}}</td>
				<td>{{x.building}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>


</div>

{% endblock %}